<% provide(:title, 'Sign up') %>
<h1>Sign up</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <p>Note! This application is not set up to send emails, so you won't be able to actually sign up. This app is for demonstration purposes only. DON'T BOTHER WITH THIS STEP. Seriously, it will just throw an error. But if you're looking at the code, rest assured it DOES work. If you'd like to <i>log in</i> to check out the site, look at the github repo for log in credentials.</p>
    <%= form_for(@user) do |f| %>
    	<%= render 'shared/error_messages', object: f.object %>
      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.label :email %>
      <%= f.text_field :email, class: 'form-control' %>

      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>

      <%= f.submit "Create my account", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>