<%= form_for(@booking) do |f| %>
	<%= f.hidden_field :flight_id, value: params[:flight_id] %>
	<%= hidden_field_tag(:flight_id, params[:flight_id]) %>
	<h2>Book Flight
		<span>Enter Passenger Info</span>
	</h2>
	<p>
		<strong>Flight #:</strong> <%= @flight.id %><br/>
		<strong>From:</strong> <%= @flight.from_airport.name %><br/>
		<strong>To:</strong> <%= @flight.to_airport.name %><br/>
		<strong>Date:</strong> <%= @flight.start_time.strftime("%a %b %d, %Y") %><br/>
		<strong>Time:</strong> <%= @flight.start_time.strftime("%I:%M %p") %>
	</p>
	<hr/>
	<% p_count = 1 %>
	<%= f.fields_for :passengers do |p| %>
		<strong>Passenger <%= p_count %>:</strong><br/>
		<%= p.label :name, "Name:" %>
		<%= p.text_field :name %>

		<%= p.label :email, "Email:" %>
		<%= p.email_field :email %>
		<% p_count += 1 %>
		<br/><br/>
	<% end %>
	<div class="submit">
		<%= f.submit "Book Flight" %>
	</div>
<% end %>